h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color: brown;
    text-align: center;
}
h2 {
    color: darkblue;
    font-size: 35px;
    text-align: center;
}
hr {
    width: 500px;
}